[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
pycodestyle = "*"

[packages]
cython = "==0.28.2"
kivy = {editable = true,git = "https://github.com/kivy/kivy"}
kivymd = {editable = true,git = "https://github.com/heattheatr/kivymd"}
pillow = "*"
numpy = "*"
mutagen = "*"

[requires]
python_version = "3.7"
